.App {
  text-align: center;
}

button {
  padding: 15px;
  font-size: 30px;
  border-radius: 5px;
  margin: 20px;
  bottom: 0;
  cursor: pointer;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 30px;
}

input {
  border: 1px solid #000;
  margin: 15px;
  padding: 10px;
  font-size: 20px;
}

label {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 70px;
  margin-top: 20px;
}
.line-through{
  text-decoration: line-through;
}      